* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
}

#container{
  max-width: 70%;
  height: 600px;
  margin: 20px auto;
  background: rgb(0, 204, 255, 1);
}

#calc-container{
  background: #eaedef;
  height: 520px;
  max-width: 320px;
  margin: auto;
  top: 20px;
  position: relative;
  border-radius: 20px;
}

#output{
  height: 30%;
  padding: 1rem;
  text-align: right;
}

#keyboard{
  height: 70%;
  padding: 1rem;
}

#history{
  height: 50%;
  text-align: right;
  padding: 1rem;

}

#history-value{
  color: grey;
  font-style: italic;
}

#result{
  height: 50%;
  text-align: right;
  padding: 1rem;
}

#result-value{
  font-size: 1.5rem;
  font-weight: bold;
}

#keyboard{
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .3rem;
}

.number{
  border: none;
  border-radius: 50%;
  font-weight: bold;
  background: #eaedef;
  font-size: 1rem;
  cursor: pointer;
}

.workings{
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  background: #f4f4f1;
  cursor: pointer;
}

.operator{
  border: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.operator:active, .number:active, .workings:active{
  font-size: .8rem;
}

.operator:focus, .number:focus, .workings:focus{
  outline: 0;
}

button:nth-child(4){ background: palegreen; }
button:nth-child(8){ background: yellow; }
button:nth-child(12){ background: red; }
button:nth-child(16){ background: purple; }
button:nth-child(18){ background: blue; }

button:nth-child(17){
  grid-column: 1 / span 3;
}